body {
  
  background-image: url("/images/Gradient.png");
  background-repeat: no-repeat;
  background-size: 2000px;
  background-position: center 15%;


  color:#FFF;

  font-family: "Lato", sans-serif;
}

.sidenav {
  color: #FFF;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
  
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  background-color: url("Gradient.png");
  display: block;
  transition: 0.3s;
  text-align:center;display:block;
  }

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;`
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}


}

}

.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
  width: 300px;
  height: 50px;
  background:#FFF;
  border: none;
  font-size: 10pt;
  padding-left: 45px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  position: fixed;
  top:20px;
  right:30px

}

/* When the input field gets focus, change its width to 100% */
input[type=search]:focus {
  width: 20%;
}
