body{
  background-image: url("/images/Gradient.png");
	background-repeat: no-repeat;
	background-size: 2000px;
	background-position: center 15%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
 	position:absolute;
 	left: 37%;
 	bottom: 35%;
 	size: 50px;
  	max-width: 2000px;
  	height: 300px;

  }
